.head.button {
    -fx-font-size:0.0001px;
    -fx-background-radius: 25;
    -fx-background-insets: 2;
}

.head.button:hover {
    -fx-font-size:0.0001px;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 210, 0, 4), 1, 0, 0, 0);
}

.head.button:hover {
    -fx-font-size:0.0001px;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 210, 0, 4), 1, 0, 0, 0);
}

.cancel.button {
    -fx-background-color: transparent;
    -fx-border-color: lightgray;
    -fx-border-style: solid inside;
    -fx-border-width: 1.5;
    -fx-border-radius: 5;
}

.cancel.button:pressed {
    -fx-background-color: #ECECEC,
        linear-gradient(#ECECEC 50%, #D5D5D5 100%),
        radial-gradient(center 50% -40%, radius 200%, #ECECEC 45%, #D5D5D5 50%);
}

.img.button {
	-fx-background-image: url("/resources/image/img.png");
    -fx-font-size:0.0001px;
    -fx-background-radius: 25;
    -fx-background-insets: 2;
    -fx-background-color: white;
}

.img.button:hover {
	-fx-background-image: url("/resources/image/img2.jpg");
    -fx-effect: dropshadow(gaussian, rgba(125, 210, 0, 4), 1, 0, 0, 0);
}

.img.button:pressed {
   -fx-background-image: url("/resources/image/img3.png");
}

.tb.toggle-button {
	-fx-background-color:transparent;
    -fx-font-size:0.0001px;
    -fx-background-insets: 0;
    -fx-border-style: solid inside;
    -fx-border-width: 0.1;
}
.tb.toggle-button:hover {
	-fx-background-color:transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 210, 0, 4), 1, 0, 0, 0);
}

.mima.button {
	-fx-background-color:transparent;
    -fx-font-size:10px;
    -fx-padding: 2px;
    -fx-background-radius: 50px;
    -fx-text-fill: gray;
}
.zhuce.button {
	-fx-background-color:transparent;
    -fx-font-size:10px;
    -fx-padding: 2px;
    -fx-background-radius: 50px;
    -fx-text-fill: gray;
    -fx-cursor: pointer;
}
.zhuce.button:hover {
	-fx-background-color:transparent;
    -fx-font-size:10px;
    -fx-text-fill: black;
    -fx-padding: 2px;
    -fx-cursor: pointer;
}

.close.button {
    -fx-background-color: #FF8888;
    -fx-font-size:0.0001px;
    -fx-background-insets: 0;
    -fx-border-style: solid inside;
    -fx-border-width: 0.05;
}


.hclose.button {
    -fx-background-color: transparent;
    -fx-font-size:0.0001px;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.close.button:pressed {
	/*-fx-background-radius: 20;*/
  	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 1);
 	 -fx-background-insets: 0, 1;
}

.min.button:pressed {
	/*-fx-background-radius: 20;*/
  	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 1);
 	 -fx-background-insets: 0, 1;
}

.min.button {
	-fx-background-color: #FFEE99;
    /*-fx-background-radius: 100;*/
    -fx-font-size:0.0001px;
    -fx-background-insets: 0;
     -fx-border-style: solid inside;
    -fx-border-width: 0.05;
}

.min.button:hover {
    -fx-background-color: #FFCC22;  
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 1);  */
}

.max.button {
	/*-fx-background-color: #99FF99;*/
	-fx-background-color: gray;
   /* -fx-background-radius: 100;*/
    -fx-font-size:0.0001px;
    -fx-background-insets: 0;
     -fx-border-style: solid inside;
    -fx-border-width: 0.05;
}


.max.button:hover {
	
    /*-fx-background-color: #00DD00;*/  
    -fx-background-color: gray;
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 1);  */
}

.landing.button {
	/*-fx-background-color:transparent;*/
	-fx-background-color:white;
	-fx-font-size:30px;
    -fx-background-radius: 20;
    /*-fx-background-insets: 0;*/
    -fx-text-fill: gray;
}

.landing.button :hover{
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: black;
}

.landing.button:pressed {
	/*-fx-background-radius: 20;*/
 	-fx-background-insets: 0;
 }

#landing-text {
    -fx-background-insets: 0;
    -fx-font-size:25px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.1 , 3 , 2 );
}

.reg.button {
	/*-fx-background-color:transparent;*/
    -fx-background-radius: 20;
    -fx-background-insets: 0;
    /*-fx-background-insets: 0;*/
    -fx-text-fill: gray;
}
.reg.button:hover {
	/*-fx-background-color:transparent;*/
    -fx-background-radius: 20;
    /*-fx-background-insets: 0;*/
    -fx-text-fill: black;
}
.reg.button:pressed {
	-fx-background-insets: 0;
}
#reg-text {
	-fx-font-family: "Chalkduster";   
    -fx-background-insets: 0;
    -fx-font-size:25px;
}

.list-cell:filled:selected:focused,.list-cell:filled:selected {
    /* 3:,4: */
    /*-fx-background-color: linear-gradient(#333 0%,lightpink 25%,#aaa 75%,#eee 100%);*/
    -fx-background-color: #E6E6E6;
    -fx-text-fill: black !important; /* 5 */
}
.list-cell { -fx-text-fill: black; /* 5 */}
.list-cell:odd { -fx-background-color: White; /* 1 */ }
.list-cell:even { -fx-background-color: White; /* for information */ }
.list-cell:filled:hover { 
    -fx-background-color: WhiteSmoke; /* 2 */
    -fx-text-fill: lightpink; /* 5 */
}

.tree-cell{
    -fx-border-width: 0;
}

.tree-cell:filled:selected:focused,.tree-cell:filled:selected {
    /* 3:,4: */
    -fx-border-width: 0;
    /*-fx-background-color: linear-gradient(#333 0%,lightpink 25%,#aaa 75%,#eee 100%);*/
    -fx-background-color: white;
    -fx-text-fill: black !important; /* 5 */
}

.tree-disclosure-node .arrow {
    -fx-background-color: black;
}


.in.text-area{
    -fx-background-insets: 0;
    -fx-border-width: 0 0 0 0;
    -fx-border-style: solid inside;
    -fx-background-color: transparent, white, transparent, white;
}
 
.in.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}
 
.in.text-area:focused {
    -fx-background-color: transparent, white, transparent, white;
}

.viewport {
    -fx-background-color:white;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-background-insets: 0 0 12 0;
}


.titled-pane > .title
{
    -fx-background-color: transparent;
}

.titled-pane > .title > .arrow-button .arrow {
    -fx-focus-color:transparent;
}

.titled-pane > *.content {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.addfriends{
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: lightgray;
    -fx-border-radius: 2
}

.addfriends:hover{
    -fx-background-color: #f5f5f5;
}

.addfriends:pressed{
    -fx-background-color: #E6E6E6;
}

.head-button{
    -fx-background-color: #d6cfcf;
    -fx-padding: 2 10 2 10;
    -fx-background-radius: 5
}

.head-button:pressed{
    -fx-background-color: ROYALBLUE;
    -fx-padding: 2 10 2 10;
    -fx-background-radius: 5;
    -fx-text-fill: white;
}

.close-makehead.button {
    -fx-background-color: #a59f9f;
    -fx-font-size:0.0001px;
    -fx-background-insets: 0;
    -fx-border-style: solid inside;
    -fx-border-width: 0.05;
}

.close-makehead.button:hover{
    -fx-background-color: #FF8888;
}

.close-makehead.button:pressed {
    /*-fx-background-radius: 20;*/
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 1);
    -fx-background-insets: 0, 1;
}
